################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web_ban_va_li/FileContentIndex/17f7e090-ff65-40f8-b0d0-fc62c5aa1df9.vsidx
/.vs/Web_ban_va_li/FileContentIndex/57717a4b-c33e-4568-a1f8-7670aacd2e69.vsidx
/.vs/Web_ban_va_li/FileContentIndex/17f7e090-ff65-40f8-b0d0-fc62c5aa1df9.vsidx
/.vs/Web_ban_va_li/FileContentIndex/98f6663d-1104-48c9-bc58-a185eac6f662.vsidx
/.vs/Web_ban_va_li/FileContentIndex/c43c56d9-0dab-4e54-b91a-caf20775a68f.vsidx
